.center {
  text-align: center;
}

#deck, #timer-row {
  display: none;
}

#exercise {
  font-weight: bold;
}

.timer {
  width: 200px;
  padding: 20px 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; 
  text-align:center;
  color: #fff;
  cursor: pointer
}

body {
    background-color: slategray;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card-img {
    height: 250px;
    width: 170px;
  }

  #exercise, .timer {
    font-size: 20px;
  }

  #deck,#submit-exercises {
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 569px) {
  .card-img {
    height: 500px;
    width: 350px;
  }

  #exercise, .timer {
    font-size: 40px;
  }

  #deck,#submit-exercises {
    margin-top: 100px;
  }
}