.center {
    text-align: center;
}

#deck {
    display: none;
}

#exercise {
    font-weight: bold;
}

.timer {
  width: 200px;
  padding: 20px 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; 
  text-align:center;
  color: #fff;
  cursor: pointer
}
.reset {
  background: #550000;
  color: white;
  width:14.9%;
  border-left: 1px solid #990000;
}
.reset:hover {
  background: #CC0000;
}
.lighter {
  background: #CC0000
}

#timer-row { 
    display: none;
}

body {
    background-color: slategray;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card-img {
    height: 250px;
    width: 170px;
  }

  #exercise, .timer {
    font-size: 20px;
  }
  #deck,#submit-exercises {
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 569px) {
  .card-img {
    height: 500px;
    width: 350px;
  }

  #exercise, .timer {
    font-size: 40px;
  }

  #deck,#submit-exercises {
    margin-top: 100px;
  }

}