.center {
  text-align: center;
}

#deck, #timer-row {
  display: none;
}

#exercise {
  font-weight: bold;
}

.timer {
  width: 200px;
  padding: 20px 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; 
  text-align:center;
  color: #fff;
  cursor: pointer
}

body {
    background-color: slategray;
}

.suite-icon {
  font-size: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card-img {
    height: 250px;
    width: 170px;
  }

  #exercise, .timer {
    font-size: 20px;
  }

  #deck,#submit-exercises {
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 569px) {
  .card-img {
    height: 500px;
    width: 350px;
  }

  #exercise, .timer {
    font-size: 40px;
  }

  #deck,#submit-exercises {
    margin-top: 100px;
  }
}

/* overriding styling for "help" modal */
.swal-modal {
  text-align: left;
}

.swal-button {
  background-color: #616364;
}

.swal-button:not([disabled]):hover {
  background-color: #212529;
}

.custom-txt {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.progressbar {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}